__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.env
.env.*
*.key
*.pem
AUDIT.md
.vercel
node_modules/
.vscode/
.DS_Store
data/cookies/
data/*.db
data/**/*.db
data/**/*.zlib
data/*.csv
data/*.json
data/**/*.csv
data/**/*.json
/kb/*.db
casos/*.pdf
logs/
casos/
casos_docs/